@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
html,
body {
  background-color: #fff;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
}

h2 {
  font-size: 4.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c234d;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 15px;
  color: #0e1133;
}

h3 {
  font-size: 3.4rem;
}

.h3,
h3 {
  font-size: calc(1.3rem + 0.6vw);
}

p {
  font-size: 1.8rem;
  color: #505056;
}

#site-header {
  background-color: #f9f9f9;
}
#site-header nav {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 20px 30px 20px;
}
#site-header nav .deskop-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#site-header nav .deskop-menu .header-titles-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#site-header nav .deskop-menu .header-titles-wrapper img {
  max-width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 30px 0 0;
}
#site-header nav .deskop-menu .header-titles-wrapper ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#site-header nav .deskop-menu .header-titles-wrapper ul li {
  list-style: none;
  margin: 0 8px;
  font-size: 1.6rem;
  font-weight: 600;
}
#site-header nav .deskop-menu .header-titles-wrapper ul li a {
  text-decoration: none;
  color: #0e1133;
}
#site-header nav .deskop-menu .header-titles-wrapper ul li a:hover {
  text-decoration: underline;
  color: #6610f2;
}
#site-header nav .deskop-menu .nav-buttons {
  display: flex;
  flex-direction: row;
}
#site-header nav .deskop-menu .nav-buttons__social {
  max-width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 30px;
}
#site-header nav .deskop-menu .nav-buttons__social svg {
  width: 20px;
  height: 20x;
  padding: 0 7px;
  transition: 350ms ease-out;
  filter: invert(0%) sepia(4%) saturate(1207%) hue-rotate(162deg) brightness(85%) contrast(105%);
}
#site-header nav .deskop-menu .nav-buttons__social svg:hover {
  filter: invert(24%) sepia(100%) saturate(7460%) hue-rotate(265deg) brightness(90%) contrast(112%);
}
#site-header nav .deskop-menu .nav-buttons button {
  display: inline-block;
  background-color: #6610f2;
  border-radius: 6px;
  border: 2px solid #6610f2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 187px;
  margin: 0;
  padding: 10px 20px;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 22px;
  transition: 250ms ease-out;
}
#site-header nav .deskop-menu .nav-buttons button:hover {
  background-color: #fff;
  border-color: #6610f2;
  color: #6610f2;
}

.page-header-wrapper {
  width: 100%;
  text-align: center;
}

.haeder-section {
  background-color: #f9f9f9;
  padding: 30px 0;
}
.haeder-section__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 20px;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.haeder-section__wrapper__image img {
  max-width: 519px;
}
.haeder-section__wrapper__text {
  margin: 30px 0 0 0;
  text-align: left;
}
.haeder-section__wrapper__text h1 {
  max-width: 514px;
  font-size: clamp(4.4rem, 6vw, 6.5rem);
}
.haeder-section__wrapper__text p {
  max-width: 570px;
}
.haeder-section__wrapper__text__buttons button {
  display: inline-block;
  background-color: #6610f2;
  border-radius: 6px;
  border: 2px solid #6610f2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 187px;
  margin: 0 12px 15px 0;
  padding: 10px 20px;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 22px;
  transition: 250ms ease-out;
}
.haeder-section__wrapper__text__buttons button:hover {
  background-color: #fff;
  border-color: #6610f2;
  color: #6610f2;
}

.block-features__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 20px 0 20px;
  background-color: #fff;
}
.block-features__wrapper__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 60px 0;
}
.block-features__wrapper__text div p {
  margin-bottom: 0;
}
.block-features__wrapper__text a {
  text-decoration: none;
}
.block-features__wrapper__text a button {
  line-height: 52px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 30px;
  text-align: center;
  height: 49px;
  padding: 0 40px;
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 22px;
  transition: 250ms ease-out;
  display: flex;
  align-items: center;
}
.block-features__wrapper__text a button:hover {
  background-color: #6610f2;
  border-color: #6610f2;
  color: #fff;
}
.block-features__wrapper__features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.block-features__wrapper__features .feature {
  border: 1px solid #eef0f4;
  padding: 48px 48px 46px;
  border-radius: 10px;
  transition: 250ms ease-out;
}
.block-features__wrapper__features .feature:hover {
  margin: 5px 0 0 0;
  box-shadow: 0 40px 40px 0 rgba(14, 17, 51, 0.1);
}
.block-features__wrapper__features .feature img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 0 20px 0;
}
.block-features__wrapper__features .feature h2 {
  font-size: 3rem;
}
.block-features__wrapper__features .feature button {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 250ms ease-out;
}
.block-features__wrapper__features .feature button:hover {
  font-weight: 700;
  text-decoration: underline;
}

.block-perks {
  background-color: #fff;
}
.block-perks .block-perks__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 20px 0 20px;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  grid-gap: 0 10px;
}
.block-perks .block-perks__wrapper__perks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.block-perks .block-perks__wrapper__perks .perk {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 3px solid #e8eaef;
  padding: 15px 0;
}
.block-perks .block-perks__wrapper__perks .perk:hover {
  border-right: 3px solid #6610f2;
}
.block-perks .block-perks__wrapper__perks .perk:hover p {
  color: #6610f2;
}
.block-perks .block-perks__wrapper__perks .perk p {
  margin: 0 0 0 10px;
}
.block-perks .block-perks__wrapper__perks .perk:hover img {
  filter: invert(12%) sepia(99%) saturate(6309%) hue-rotate(266deg) brightness(91%) contrast(110%);
}
.block-perks .block-perks__wrapper__perks .perk img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-perks .block-perks__wrapper__image {
  margin: 30px 0 0 0;
}
.block-perks .block-perks__wrapper__image img {
  width: clamp(290px, 100vw, 500px);
  -o-object-fit: cover;
     object-fit: cover;
}
.block-perks .block-perks__wrapper__text h2 {
  max-width: 358px;
}
.block-perks .block-perks__wrapper__text a button {
  display: inline-block;
  background-color: #6610f2;
  border-radius: 6px;
  border: 2px solid #6610f2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 187px;
  margin: 0 12px 0 0;
  padding: 10px 20px;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 22px;
  transition: 250ms ease-out;
}
.block-perks .block-perks__wrapper__text a button:hover {
  background-color: #fff;
  border-color: #6610f2;
  color: #6610f2;
}

.block-signup .block-signup__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 60px auto 0 auto;
}
.block-signup .block-signup__wrapper .block-signup__wrapper__text {
  text-align: center;
}
.block-signup .block-signup__wrapper .block-signup__wrapper__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 0 20px;
  margin: 30px 0 0 0;
}
.block-signup .block-signup__wrapper .block-signup__wrapper__blocks .sign-up {
  display: inline-block;
  padding: 30px;
  background-color: #ebf2fc;
  border-radius: 20px;
  height: 450px;
  transition: 350ms ease-out;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: clamp(300px, 100vw, 350px);
}
.block-signup .block-signup__wrapper .block-signup__wrapper__blocks .sign-up h3 {
  font-size: 3.4rem;
}
.block-signup .block-signup__wrapper .block-signup__wrapper__blocks .sign-up button {
  line-height: 52px;
  display: inline-block;
  background-color: #ebf2fc;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 30px;
  text-align: center;
  height: 49px;
  padding: 0 40px;
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 22px;
  transition: 250ms ease-out;
}
.block-signup .block-signup__wrapper .block-signup__wrapper__blocks .sign-up button:hover {
  background-color: #6610f2;
  border-color: #6610f2;
  color: #fff;
}
.block-signup .block-signup__wrapper .block-signup__wrapper__blocks .sign-up button:disabled,
.block-signup .block-signup__wrapper .block-signup__wrapper__blocks .sign-up button[disabled] {
  background-color: #ebf2fc;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  color: #000;
}

.block-blog .block-blog__wrapper {
  max-width: 1300px;
  margin: 60px auto 0 auto;
  padding: 0 20px;
}
.block-blog .block-blog__wrapper__text {
  text-align: center;
  margin: 0 0 25px 0;
}
.block-blog .block-blog__wrapper__blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.block-blog .block-blog__wrapper__blogs .blog {
  text-align: center;
  width: 30%;
  display: inline-block;
  margin: 0 10px 30px 10px;
}
.block-blog .block-blog__wrapper__blogs .blog img {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  transition: 450ms ease-out;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-blog .block-blog__wrapper__blogs .blog__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 10px;
}
.block-blog .block-blog__wrapper__blogs .blog__text h3 {
  text-align: left;
}
.block-blog .block-blog__wrapper__blogs .blog__text p {
  text-align: left;
  font-size: 1.4rem;
}
.block-blog .block-blog__wrapper__blogs .blog__text a {
  text-align: left;
  margin: 0 auto 0 0;
}
.block-blog .block-blog__wrapper__blogs .blog__text a button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 250ms ease-out;
  padding: 0;
  margin: 0 auto 0 0;
}
.block-blog .block-blog__wrapper__blogs .blog__text a button:hover {
  font-weight: 700;
  text-decoration: underline;
}

.block-scripts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-scripts__wrapper {
  max-width: 1300px;
  margin: 60px auto 0 auto;
  padding: 0 20px;
  text-align: center;
}
.block-scripts__wrapper p {
  margin: 0 0 40px 0;
}
.block-scripts__wrapper .script {
  width: 100%;
}
.block-scripts__wrapper .script #mc_embed_signup form {
  text-align: left;
}
.block-scripts__wrapper .script #mc_embed_signup form label {
  display: none;
}
.block-scripts__wrapper .script #mc_embed_signup form input[type=text],
.block-scripts__wrapper .script #mc_embed_signup form input[type=email] {
  color: #7e7c87;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px;
  margin: 0 0 15px 0;
  font-size: 1.6rem;
}
.block-scripts__wrapper .script #mc_embed_signup form input[type=text]:hover,
.block-scripts__wrapper .script #mc_embed_signup form input[type=email]:hover {
  box-shadow: 0 10px 10px 0 rgba(14, 17, 51, 0.1);
}
.block-scripts__wrapper .script #mc_embed_signup form input[type=textarea] {
  color: #7e7c87;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px 7px 200px 7px;
  margin: 0 0 20px 0;
  font-size: 1.6rem;
  font-size: 1.6rem;
}
.block-scripts__wrapper .script #mc_embed_signup form input[type=textarea]:hover {
  box-shadow: 0 10px 10px 0 rgba(14, 17, 51, 0.1);
}
.block-scripts__wrapper .script #mc_embed_signup form #mc-embedded-subscribe {
  display: inline-block;
  background-color: #6610f2;
  border-radius: 6px;
  border: 2px solid #6610f2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 187px;
  margin: 0 12px 0 0;
  padding: 10px 20px;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 22px;
  transition: 250ms ease-out;
}
.block-scripts__wrapper .script #mc_embed_signup form #mc-embedded-subscribe:hover {
  background-color: #fff;
  border-color: #6610f2;
  color: #6610f2;
}

#site-footer {
  background-color: #f9f9f9;
}
#site-footer .section-inner {
  max-width: 1300px;
  margin: 60px auto 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}
#site-footer .section-inner__one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 0 40px;
  padding: 30px 0 80px 0;
}
#site-footer .section-inner__one__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#site-footer .section-inner__one__text p {
  margin: 0;
}
#site-footer .section-inner__one input[type=email] {
  color: #7e7c87;
  width: 100%;
  max-width: 450px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px;
  margin: 0 0 15px 0;
  font-size: 1.6rem;
}
#site-footer .section-inner__one input[type=submit] {
  display: inline-block;
  background-color: #6610f2;
  border-radius: 6px;
  border: 2px solid #6610f2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 187px;
  margin: 0 12px 0 0;
  padding: 10px 20px;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 22px;
  transition: 250ms ease-out;
}
#site-footer .section-inner__two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#site-footer .section-inner__two__social {
  max-width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
#site-footer .section-inner__two__social svg {
  width: 20px;
  height: 20px;
  padding: 0 7px;
  transition: 350ms ease-out;
  filter: invert(0%) sepia(4%) saturate(1207%) hue-rotate(162deg) brightness(85%) contrast(105%);
}
#site-footer .section-inner__two__social svg:hover {
  filter: invert(24%) sepia(100%) saturate(7460%) hue-rotate(265deg) brightness(90%) contrast(112%);
}
#site-footer .section-inner__two .footer-credits {
  display: flex;
  align-items: center;
}
#site-footer .section-inner__two a .footer-site-logo {
  max-width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}
#site-footer .section-inner__two .footer-copyright {
  font-size: 1.6rem;
}/*# sourceMappingURL=desktop.css.map */