@import "main";

// General

// Page header
.page-header-wrapper {
  width: 100%;
  text-align: center;
}

// Header Block
.haeder-section {
  background-color: $background-color;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    &__image {
      img {
        max-width: 519px;
      }
    }
    &__text {
      text-align: left;
      h1 {
        max-width: 514px;
      }
      p {
        max-width: 570px;
      }
      &__buttons {
        button {
          display: inline-block;
          background-color: $bs-indigo;
          border-radius: 16px;
          border: 2px solid $bs-indigo;
          width: 187px;
          margin: 0 12px 0 0;
          padding: 15px 20px;
          color: #fff;
          font-family: "Roboto", Sans-serif;
          font-size: 2rem;
          font-weight: 500;
          line-height: 22px;
          &:hover {
            background-color: #fff;
            border-color: $bs-indigo;
            color: $bs-indigo;
          }
        }
      }
    }
  }
}
